/*-- scss:defaults --*/
// fonts
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: Arial, FreeSerif, serif !default;
$font-family-monospace: "Cousine", monospace !default;

// headings
$presentation-heading-font: "Hanken Grotesk", Arial, FreeSerif, serif !default;
$presentation-heading-color: #2E2433 !default;

// other variables
$body-bg: #fafafa;
$body-color: #0F0C11;
$highlight-color: #000000;
$presentation-font-size-root: 24pt;
/* sets color of controls*/
$link-color: #e16fca;
$selection-bg: #e16fca50;
$selection-color: #00000090;

/*-- scss:rules --*/
html,
.slides {
  margin: 0;
}

.blockquote {
  border-left: 3px solid $link-color;
  color: $body-color;
  padding-left: 0.6em;
  background: #f6f5f6;
  letter-spacing: 0.02em;
}

h1 {
  font-family: $presentation-heading-font;
  color: #4e3c56;
  margin-top: 2em;
  font-weight: 700;
}

pre.numberSource code>span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
  font-weight: 500;
}

div.sourceCode {
  margin: 0;
  overflow: auto;
  border-left-color: $link-color;
  margin-bottom: 1em;
  background-color: #ffffff80;
}

a {
  color: #282000;
}

a:hover {
  color: #000000;
}

.blockquote {
  border-left: 3px solid #4e3c56;
  color: $presentation-heading-color;
  letter-spacing: -0.02em;
}

.panel-tabset [role="tablist"] {
  border-bottom: 1px solid $link-color;
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

.panel-tabset [role="tablist"] {
  border-bottom: 1px solid $link-color;
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

/*
div.sourceCode {
  border: none;
  border-radius: 0px;
  background-color: #f6f5f6;
  border-left: 3px solid #4e3c56;
  color: $presentation-heading-color;
}*/

.reveal pre {
  width: 100%;
  box-shadow: none;
  background-color: #ffffff95;
  border: none;
  border-left: solid $presentation-heading-color;
  margin: 0;
  font-size: .55em;
  line-height: 1.3;
  font-family: "Cousine", monospace;
}

h2,
.h2 {
  font-family: $presentation-heading-font;
  color: $presentation-heading-color;
  border-bottom: 1px solid #e16fca;
  padding-bottom: .5rem;
  margin-top: 1.5em;
  font-weight: 700;
}

h3,
.h3,
h4,
.h4 {
  font-family: $presentation-heading-font;
  padding-bottom: .5rem;
  color: $presentation-heading-color;
  margin-top: 1.5em;
  font-weight: 700;
}

h1.title,
.title.h1 {
  margin-top: 1em;
}

.sidebar nav[role="doc-toc"]>h2,
.sidebar nav[role="doc-toc"]>.h2 {
  margin-top: 1em;
  padding-top: 1em;
}

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $link-color;
  color: $body-color;
  padding-left: 0.6em;
  background: #ffffff90;
}


.reveal h1 {
  font-weight: 700;
  padding-right: 2em;
}

pre.numberSource code>span {
  position: relative;
  left: -4em;
  counter-increment: source-line;
  font-weight: 500;
}

.reveal h2 {
  border-bottom: $link-color solid 2px;
  padding-bottom: 0.15em;
}

.reveal .controls {
  color: $highlight-color;
}

.reveal .progress {
  background: $link-color;
  color: $presentation-heading-color;
}

.reveal div.sourceCode {
  margin: 0;
  overflow: auto;
  background-color: #f9f9f9;
  border: none;
}

.reveal a {
  text-decoration: underline $link-color;
  text-decoration-thickness: 1px;
  color: $presentation-heading-color;
}

.reveal a:hover {
  color: $body-color;
}

.reveal .footer a {
  color: #2E2433;
  text-decoration: none;
}

.reveal .footer a:hover {
  color: $body-color;
}

section.has-dark-background a,
section.has-dark-background a:hover {
  color: #0F0C11;
}


.reveal .slide ul li {
  list-style: none;
  /* Remove default bullets */
  letter-spacing: -0.02em;
}

.reveal .slide ul li::before {
  content: "\25FC";
  /* Add content: \2022 is the CSS Code/unicode for a bullet; add a space for easier alignment! */
  color: $link-color;
  /* Change the color*/
  display: inline-block;
  /* Needed to add space between the bullet and the text*/
  width: 1.5em;
  /* Also needed for space (tweak if needed)*/
  margin-left: -1.5em;
  /* Also needed for space (tweak if needed)*/
  font-size: 66%;
}

.reveal .panel-tabset ul li::before {
  content: "";
  /* Remove default bullets */
}

.reveal .monospace {
  font-size: 36pt;
}

.reveal .faded {
  opacity: 0.4;
}

.reveal .faded-small {
  opacity: 0.4;
  font-size: 0.8em;
}

.reveal .imitate-title {
  font-size: 2em;
}


#title-slide,
.p {
  text-align: right;
}

#title-slide,
h1,
h2 {
  text-align: left;
}

.reveal .slide blockquote {
  border-left: 3px solid $link-color;
  color: $presentation-heading-color;
  letter-spacing: -0.02em;
}


@media (min-width: 30em) {
  .panel-tabset [role="tab"][aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $link-color;
    border-bottom-color: $link-color;
    border-bottom-color: #fff;
  }

  .panel-tabset [role="tab"]:hover:not([aria-selected="true"]) {
    border: 1px solid $link-color;
    border-bottom-color: #fff;
  }

}

.panel-tabset [role="tablist"] {
  border-bottom: 1px solid $presentation-heading-color;
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

.panel-tabset [role="tablist"] {
  border-bottom: 1px solid;
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

.half-and-half {
  background: linear-gradient(to right,
      #abc766 0%,
      #abc766 50%,
      $body-bg 50%,
      $body-bg 100%);
}

.half-and-half h2 {
  border-bottom: none;
}

.has-dark-background h2 {
  border-bottom: #F6F5F6 solid 2px;
  padding-bottom: 0.15em;
}

.reveal::after {
  content: '';
  position: fixed;
  bottom: -1em;
  right: 0;
  width: 50vw;
  max-width: 50vw;
  height: 50vh;
  max-height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: -1;
  pointer-events: none;
}


/* To move the logo, modify this chunk
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  left: unset !important;
  top: 1em;
  right: 1em;
  height: 2em !important;
  width: 100x !important;
  max-width: unset !important;
  max-height: unset !important;
} */