cloud-config.yml
*.code-workspace

/.quarto/
/_site/
/_freeze/
/docs/

# renv-setup.R

.DS_Store
.ipynb_checkpoints/

# *.csv
*.gz
*.parquet
*.xlsx
*.shp

.Rproj.user
.Rprofile
.Rhistory
*.Rproj
*.quarto_ipynb

/.luarc.json
